# *.log
# *.pot
# *.pyc
__pycache__
# db.sqlite3
# media
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
# db.sqlite3
# *.db.sqlite3
# *.sqlite3
# projectyumi\db.sqlite3
mediafiles/

apiyumi/__pycache__/
apiyumi/migrations/__pycache__/
apiyumi/serializers/__pycache__/
apiyumi/utils/__pycache__/
apiyumi/views/__pycache__/

projectyumi/__pycache__/