<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset confirm</title>
</head>
<body>
    <h1>Reset your password</h1>
    <form action="https://project-yumi-v2.vercel.app/" method="post">
        {% csrf_token %}
        {% if errors %}
        <p>invalid token</p>
        {% else %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary text-uppercase">Reset Password</button>
        {% endif %}
    </form>
</body>
</html>